HOST=0.0.0.0
PORT=1337
APP_KEYS=key1,key2,key3,key4
API_TOKEN_SALT=some-long-random-string
ADMIN_JWT_SECRET=some-long-random-string
TRANSFER_TOKEN_SALT=some-long-random-string
JWT_SECRET=some-long-random-string

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=noreplynetcode@gmail.com
SMTP_PASS=alnp scgl eftp bmtv
EMAIL_DEFAULT_FROM=noreplynetcode@gmail.com
EMAIL_DEFAULT_REPLY_TO=noreplynetcode@gmail.com
