HOST=0.0.0.0
PUBLIC_URL=https://netcode-kvlt.onrender.com

APP_KEYS=key1,key2,key3,key4
API_TOKEN_SALT=some-long-random-string
ADMIN_JWT_SECRET=some-long-random-string
TRANSFER_TOKEN_SALT=some-long-random-string
JWT_SECRET=some-long-random-string


DATABASE_CLIENT=postgres
DATABASE_URL=postgresql://netcode_user:8wCjE0UitegNIEH0avsn4xj8UylsDGVy@dpg-d7gbqpv7f7vs73btihh0-a/netcode
DATABASE_SSL=false
DATABASE_POOL_MIN=0
DATABASE_POOL_MAX=10

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=noreplynetcode@gmail.com
SMTP_PASS=alnp scgl eftp bmtv
EMAIL_DEFAULT_FROM=noreplynetcode@gmail.com
EMAIL_DEFAULT_REPLY_TO=noreplynetcode@gmail.com