HOST=0.0.0.0
PUBLIC_URL=https://netcode-kvlt.onrender.com
APP_KEYS=long-random-key-1,long-random-key-2,long-random-key-3,long-random-key-4
API_TOKEN_SALT=long-random-api-token-salt
ADMIN_JWT_SECRET=long-random-admin-jwt-secret
TRANSFER_TOKEN_SALT=long-random-transfer-token-salt
JWT_SECRET=long-random-jwt-secret
DATABASE_CLIENT=postgres
DATABASE_URL=postgresql://netcode_user:YOUR_PASSWORD@dpg-d7gbqpv7f7vs73btihh0-a/netcode
DATABASE_SSL=false
DATABASE_POOL_MIN=0
DATABASE_POOL_MAX=10
DATABASE_SCHEMA=public

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=noreplynetcode@gmail.com
SMTP_PASS=alnpscgleftpbmtv
EMAIL_DEFAULT_FROM=noreplynetcode@gmail.com
EMAIL_DEFAULT_REPLY_TO=noreplynetcode@gmail.com